html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

#viewport {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}

.omniBar {
	position: absolute;
	top: 20px;
	left: 20px;
	height: 70px;
	width: 400px;
}